body {
	padding: 0;
	margin: 0;
}
.wrapper {
    /* display: inline-flex; */
	height: 100vh;
	width: 100vw;
	/* overflow: auto; */
}

#topbar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 5em;
	padding-left: 10px;
}
#sidebar {
	/* position: fixed; */
	max-width: 200px;
	max-height: calc(100vh - 5em);
	top: 5em;
	left:0;
	/* display: block; */
	margin:0;
	flex-grow: 0;
	flex-shrink: 0;
	z-index: 9999;
	overflow: auto;
	padding-left: 10px;
}

#sidebar.show {
	display:inline ;
}

#sidebar li {
	list-style: none;
	margin-left: 20px;
}
#sidebar li:before {
	content: '\2937';
	margin-left: -10px;
	margin-right: 10px;
}
#sidebar .links-header {
	color: silver;
}

.collapsing {
	-webkit-transition: none;
    transition: none;
    display: none;
}

#rightbar {
	position: fixed;
	border: 1px dotted darkgrey;
	right: 3em;
	top: 9em;
	z-index: 1;
	display: block;
	opacity: 0.9;
	text-align: right;
	max-width: 18em;
	max-height: 30em;
	overflow: auto;
	/* padding: 5px; */

	padding-left: 10px;
	padding-right: 10px;
}

#rightbar ul {
	list-style: none;
}
#rightbar ul li {
	margin-bottom: 0.5em;
}

#container {
  display: inline-flex;
  width: 100vw;
}

#content {
	margin-top:5.5em;
	height: calc(100vh - 5.5em);
	overflow: auto;
}

@media (max-width: 768px) {
    #sidebar.show {
        position: fixed;
		height: 100vh;
		opacity: 98%;
    }

	#rightbar {
		display: none;
	}
}

.navbar-toggler {
	border: none;
	outline:none;
}

.navbar-toggler:focus {
	border: none;
	outline:none;
	background: black;
}


.navbar-toggler-icon {
	height: 1em;
	width: 1em;
}
/* @media (min-width:769px) { */
	/* #sidebar:not(.show) { */
		/* display: none; */
	/* } */
/* } */

section li {
	margin-top: .5em;
}

.largetext {
	font-size: large;
}

.ul-nobullets li {
	list-style: none;
	margin-left: -10px;
}

.smalltext {
	font-size: small;
}



.breadcrumb {
	background-color: transparent;
	/*margin:0;*/
	padding:0;
}
.breadcrumb a {
	color: cornflowerblue;
	/*background-color: transparent;*/
}
.breadcrumb-item+.breadcrumb-item::before {
	color: grey
}
.breadcrumb a:hover  {
	text-decoration: underline;
	color: cornflowerblue;
	font-weight: bold;
}
.header {
	border-bottom: 1px solid grey;
	margin-bottom: 1em;
}/*
legend {
	border-bottom: 1px solid lightgrey;
}*/

img, iframe[title^=YouTube], .carousel {
	max-width: 35em;
	height: auto;
	margin: auto;
}

#copyright img {
	width: 80px !important;
	height: 30px !important;
}

#copyright {
	font-size: small;
}

blockquote {
	margin-left: 1em;
	border-left: 3px solid gray;
	padding-left: 1em;
	font-style: italic;
}


/* IUCN classifications */
.iucn {
	font-weight: bold;
	border-radius: 3em;
	border: 2px solid white;
	padding: 0.5em;
	text-decoration: none !important;
}
a.iucn:hover {
	color: inherit
}
.iucn_EX {background: black; color: red;}
.iucn_EW {background: black; color: white;}
.iucn_CR {background: red; color: white;}
.iucn_EN {background: darkorange; color: white;}
.iucn_VU {background: orange; color: white;}
.iucn_NT {background: green; color: yellow;}
.iucn_LC {background: green; color: white;}
.iucn_NE, .iucn_DD, .iucn_NR {background: gray; color: white;}

/** Default table style, in case bootstrap does not kick in **/
td, th {
	border: 1px solid;
	border-collapse: collapse;
	padding-right: 1em;
}

tr:nth-child(even) {
	background-color: #8080803d;
}

tr:hover {
	background-color: #ffd70026;
}


/** Search bar CSS **/
#site_search_results ul {
	list-style-type: disclosure-closed;
}
#site_search_results {
	position: absolute;
	z-index: 1999;
	max-height: 10em;
	overflow-y: auto;
	width: 18rem;
	right: 1em;
}

#site_search_results a {
	white-space: break-spaces;
	word-break: normal;
	overflow-wrap: anywhere;
}

#site_search_results mark {
	background-color: yellow;
}

.pre-ws {
	white-space: pre;
}
